@import url(../css/hfh.css);
footer{
    bottom :0;
  
}
.goal{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5rem;
    margin-top: 0;

}
.note{
    text-align: center;
}
img{
    width:20rem;
    height: 15rem;
    text-align: center;
    border-radius: 1rem ;
}
p{
    margin-left: 5rem;
    text-align: center;
}

@media screen and (max-width:1026px){
.goal{
    margin-bottom: 16rem;
}
}